* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.nav {
    background-color: #063C8C;
}

#tabla-articulos{
    height: calc(100vh - 290px);
}

#tabla-clientes{
    height: calc(100vh - 290px);
}

.nav__li {
    display: inline-block;
    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 0;
    color: #fff;
}

.nav__li:hover > a {
    color: #bbb;
}

.nav__li:hover {
    color: #bbb;
    cursor: pointer;
}

.nav__li a{
    color: #fff;
    text-decoration: none;
}

.nav__li i {
    box-sizing:  border-box;
    text-align: right;
    margin-right: 5px;
}

body{
    position: relative;
    padding-bottom: 100px;
}

footer {
    background-color: #063C8C;
    position: absolute;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}